{% extends 'admin/admin_layout.html' %}
{% block content %}

<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
      <center><a href="/admin/job_add/" class="btn btn-primary" style="text-align: right;">Add Job</a></center><br>
        <div class="table-responsive">
        <!-- <h4 class="card-title">Basic form elements</h4>
        <p class="card-description"> Basic form elements </p> -->
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th>company logo</th>
              <th>Title</th>
              <th>City</th>
              <th>Country</th>
              <th>Type</th>
              <th>Min Salary</th>
              <th>Max Salary</th>
              <th>Actions</th>
              <th>Actions</th>
            </tr>
          </thead>
          {% for joblist in job_lists %}
          <tr>
            <td>{{joblist.companylogo}}</td>
            <td>{{joblist.title}}</td>
            <td>{{joblist.city}}</td>
            <td>{{joblist.country}}</td>
            <td>{{joblist.type}}</td>
            <td>{{joblist.min_salary_range}}</td>
            <td>{{joblist.max_salary_range}}</td>
            <td><a href="/admin/job/edit/{{joblist.id}}" class="glyphicon glyphicon-pencil btn btn-outline-primary">
                Edit
              </a></td>
            <td><a href="/admin/job/delete/{{joblist.id}}" class="btn btn-outline-danger">Delete</a></td>                   
            {% endfor %}
          </tr>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

